{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'image/fav.png' %}' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js@1.12.0/src/toastify.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/nouislider.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">

    {% block extra_css %}  {% endblock %}

    <title>{% block title %} فروشگاه {% endblock %}</title>
</head>

<body class="max-w-[1700px] mx-auto">

<!-- loading -->
<div id="loading"
     class="z-50 fixed inset-0 flex flex-col items-center justify-center bg-gradient-to-bl from-zinc-50 to-zinc-100 transition-opacity duration-700">
    <div class="wrapper">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
    </div>
    <div class="flex items-center gap-6 mt-10">
        <img class="max-w-20 md:max-w-36" src="{% static 'image/logo.png' %}" alt="">
        <div class="text-xl md:text-3xl font-yekanBakhExtraBold text-zinc-800">فروشگاه آنلاین دیجیتو</div>
    </div>
</div>

<!-- progress bar -->
<div id="progressBar"></div>

{% include 'include/header.html' %}

<main class="mt-0 md:mt-8">
    {% block content %}

    {% endblock %}
</main>

{% include 'include/footer.html' %}

</body>


<script src="https://cdn.jsdelivr.net/npm/toastify-js@1.12.0/src/toastify.min.js"></script>
<script src="{% static 'js/swiper.min.js' %}"></script>
<script src="{% static 'js/sliders.js' %}"></script>
<script src="{% static 'js/nouislider.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    const modal1 = document.getElementById('modal1');
    const modal2 = document.getElementById('modal2');
    const modalBox1 = document.querySelector('#modal1 .modal-box');
    const modalBox2 = document.querySelector('#modal2 .modal-box');

    function openModal() {
        modal1.classList.remove('hidden');
        modal1.classList.add('flex');
        setTimeout(() => {
            if (modalBox1) modalBox1.classList.remove('opacity-0', 'scale-90');
            if (modalBox1) modalBox1.classList.add('opacity-100', 'scale-100');
        }, 10);
    }

    function showRegister() {
        modal2.classList.remove('hidden');
        modal2.classList.add('flex');
        setTimeout(() => {
            if (modalBox2) modalBox2.classList.remove('opacity-0', 'scale-90');
            if (modalBox2) modalBox2.classList.add('opacity-100', 'scale-100');
        }, 10);
    }

    function showLogin() {
        closeModal2();
        modal1.classList.remove('hidden');
        modal1.classList.add('flex');
        setTimeout(() => {
            if (modalBox1) modalBox1.classList.remove('opacity-0', 'scale-90');
            if (modalBox1) modalBox1.classList.add('opacity-100', 'scale-100');
        }, 10);
    }

    function closeModal1() {
        if (modalBox1) {
            modalBox1.classList.remove('opacity-100', 'scale-100');
            modalBox1.classList.add('opacity-0', 'scale-90');
        }
        setTimeout(() => {
            modal1.classList.add('hidden');
            modal1.classList.remove('flex');
        }, 300);
    }

    function closeModal2() {
        if (modalBox2) {
            modalBox2.classList.remove('opacity-100', 'scale-100');
            modalBox2.classList.add('opacity-0', 'scale-90');
        }
        setTimeout(() => {
            modal2.classList.add('hidden');
            modal2.classList.remove('flex');
        }, 300);
    }

    modal1.addEventListener('click', function (e) {
        if (e.target === modal1) closeModal1();
    });
    modal2.addEventListener('click', function (e) {
        if (e.target === modal2) closeModal2();
    });

    const urlParams = new URLSearchParams(window.location.search);
    const modalParam = urlParams.get('modal');


    if (modalParam === 'register') {
        showRegister();

        const url = new URL(window.location.href);
        url.searchParams.delete('modal');
        window.history.replaceState({}, '', url);
    } else if (modalParam === 'open' || modalParam === 'login') {
        openModal();

        const url = new URL(window.location.href);
        url.searchParams.delete('modal');
        window.history.replaceState({}, '', url);
    } else {

        let hasLoginError = false;
        {% for message in messages %}
            if ("{{ message.tags }}" === "error") {

                const messageText = "{{ message }}";
                if (messageText.includes('ایمیل') || messageText.includes('رمز') || messageText.includes('ثبت نام')) {

                    if (messageText.includes('ثبت نام') || messageText.includes('قبلاً') || messageText.includes('تکرار')) {
                        showRegister();
                    } else {
                        openModal();
                    }
                } else {
                    openModal();
                }
            }
        {% endfor %}
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const categoryItems = document.querySelectorAll('.category-item');
        const panels = document.querySelectorAll('.subcategory-panel');

        categoryItems.forEach(function (item) {
            item.addEventListener('mouseenter', function () {
                categoryItems.forEach(i => i.classList.remove('active-category'));
                item.classList.add('active-category');

                const targetId = item.dataset.category;
                panels.forEach(function (panel) {
                    panel.style.display = (panel.dataset.panel === targetId) ? 'contents' : 'none';
                });
            });
        });
    });
</script>

<script>
    $(document).ready(function () {

        $(document).on("click", ".favorite-button", function (e) {

            e.preventDefault();

            let button = $(this);
            let icon = button.find(".favorite-icon");
            let tooltip = button.find(".favorite-tooltip");

            let url = button.data("url");

            let csrfToken = $("input[name='csrfmiddlewaretoken']").first().val();

            $.ajax({

                url: url,
                type: "POST",

                data: {
                    csrfmiddlewaretoken: csrfToken
                },

                success: function (result) {

                    if (result.action === "added") {

                        button.attr("data-favorite", "true");

                        icon
                            .removeClass("fill-zinc-700")
                            .addClass("fill-red-500");

                        icon.html(`
                            <path d="M128,216S28,160,28,88A52,52,0,0,1,128,64,52,52,0,0,1,228,88C228,160,128,216,128,216Z"></path>
                        `);

                        tooltip.text("حذف از علاقه مندی ها");

                    } else if (result.action === "removed") {

                        button.attr("data-favorite", "false");

                        icon
                            .removeClass("fill-red-500")
                            .addClass("fill-zinc-700");

                        icon.html(`
                            <path d="M178,32c-20.65,0-38.73,8.88-50,23.89C116.73,40.88,98.65,32,78,32A62.07,62.07,0,0,0,16,94c0,70,103.79,126.66,108.21,129a8,8,0,0,0,7.58,0C136.21,220.66,240,164,240,94A62.07,62.07,0,0,0,178,32ZM128,206.8C109.74,196.16,32,147.69,32,94A46.06,46.06,0,0,1,78,48c19.45,0,35.78,10.36,42.6,27a8,8,0,0,0,14.8,0c6.82-16.67,23.15-27,42.6-27a46.06,46.06,0,0,1,46,46C224,147.61,146.24,196.15,128,206.8Z"></path>
                        `);

                        tooltip.text("افزودن به علاقه مندی ها");

                    }

                    Toastify({
                        text: result.message,
                        duration: 3000,
                        gravity: "top",
                        position: "right",
                        style: {
                            background: result.action === "added"
                                ? "#22c55e"
                                : "#1d9ded"
                        }
                    }).showToast();

                },

                error: function (xhr) {

                    let message = "خطایی رخ داد.";

                    if (
                        xhr.responseJSON &&
                        xhr.responseJSON.message
                    ) {
                        message = xhr.responseJSON.message;
                    }

                    Toastify({
                        text: message,
                        duration: 3000,
                        gravity: "top",
                        position: "right",
                        style: {
                            background: "#ef4444"
                        }
                    }).showToast();

                }

            });

        });

    });
</script>


{% include 'messages.html' %}

{% block extra_js %}  {% endblock %}
</html>
